[report]
omit =
    */tests.py
    */test_*.py
    */*_tests.py
    */{{ cookiecutter.project_slug }}/__init__.py
    */{{ cookiecutter.project_slug }}/__main__.py
    */{{ cookiecutter.project_slug }}/_version.py
    
exclude_lines =
    if __name__ == __main__
